@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
body {
    background-color: #fefefe;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #efe8e4;
}

.ant-layout-header {
    background-color: transparent;
}

.contentHeight {
    min-height: calc(100vh - 80px);
}

.content {
    width: 90vw;
}

.left {
    margin-top: 8vh;
    color: #2d2d2d;
}

.right {
    margin-top: 5vh;
}

.myphoto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.title {
    font-size: 2.3em;
    letter-spacing: 0.05em;
    font-weight: bolder;
}

.intro {
    font-size: 1.1em;
    letter-spacing: 0.03em;
    color: #5d73a1;
}

.text-main {
    text-align: center;
    color: #3F5965;
}

.btns {
    color: #3F5965;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 4px 8px;
    border-radius: 8px;
}

.btns:hover {
    opacity: 0.9;
    color: #3F5965;
    text-decoration: none !important;
}

.card-title {
    font-size: 1.2em;
    letter-spacing: 0.2em;
    line-height: 1.5em;
    font-weight: 600;
    color: #3F5965;
}

.card-text {
    line-height: 1.1em;
    color: #696969;
}

.email {
    font-size: 1.1em;
    color: #2d2d2d;
    letter-spacing: 0.1em;
}

.email:hover {
    color: #5d73a1;
    text-decoration: none;
}

.intropic {
    margin-top: 5vh;
    width: 29vw;
}

@media (max-width: 1025px) {
    .intropic {
        margin-top: 15vh;
        width: 75vw;
    }
    .middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 426px) {
    .right {
        margin-top: 3vh;
    }
    .intropic {
        margin-top: 6vh;
    }
}